body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 20px;
    padding: 0px;
    min-width: 300px;
    width: auto;
    align-items: center;
    justify-content: center;
}
  
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin: 20px;    

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #656565;
}

#textContainer {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;  
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textContainer p {
    font-size: 12px;
    line-height: 1.5;
    margin: auto;
    white-space: pre-wrap;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #007bff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}